GRAFANA_PASSWORD=

# Kafka VM 내부 IP
KAFKA_1_HOST=10.0.0.x
KAFKA_2_HOST=10.0.0.x
KAFKA_3_HOST=10.0.0.x

# Redis VM 내부 IP
REDIS_1_HOST=10.0.0.x
REDIS_2_HOST=10.0.0.x
REDIS_3_HOST=10.0.0.x

# Service VM 내부 IP (서비스 추가 시 항목 추가, prometheus.yml.tmpl과 함께 수정)
MENTORING_SERVICE_HOST=10.0.0.x